[Desktop Entry]
Type=Application
Name=Mote
GenericName=Pixel Art Editor
Comment=A little canvas. Endless possibilities.
Exec=mote %f
Icon=io.github.benryanx.mote
Terminal=false
Categories=Graphics;2DGraphics;RasterGraphics;
MimeType=application/x-mote;
StartupWMClass=io.github.benryanx.mote
Keywords=pixel;sprite;animation;art;
